Actividad2/Calculator Code/xml-resources/web-service-references/Calculo/wsdl/localhost_8080/Calculo/Calculo.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pack1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pack1/" name="Calculo">
<types>
<xsd:schema>
<xsd:import namespace="http://pack1/" schemaLocation="http://localhost:8080/Calculo/Calculo?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="sum">
<part name="parameters" element="tns:sum"/>
</message>
<message name="sumResponse">
<part name="parameters" element="tns:sumResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="divE">
<part name="parameters" element="tns:divE"/>
</message>
<message name="divEResponse">
<part name="parameters" element="tns:divEResponse"/>
</message>
<message name="fact">
<part name="parameters" element="tns:fact"/>
</message>
<message name="factResponse">
<part name="parameters" element="tns:factResponse"/>
</message>
<message name="product">
<part name="parameters" element="tns:product"/>
</message>
<message name="productResponse">
<part name="parameters" element="tns:productResponse"/>
</message>
<message name="divD">
<part name="parameters" element="tns:divD"/>
</message>
<message name="divDResponse">
<part name="parameters" element="tns:divDResponse"/>
</message>
<message name="minus">
<part name="parameters" element="tns:minus"/>
</message>
<message name="minusResponse">
<part name="parameters" element="tns:minusResponse"/>
</message>
<portType name="Calculo">
<operation name="add">
<input wsam:Action="http://pack1/Calculo/addRequest" message="tns:add"/>
<output wsam:Action="http://pack1/Calculo/addResponse" message="tns:addResponse"/>
</operation>
<operation name="sum">
<input wsam:Action="http://pack1/Calculo/sumRequest" message="tns:sum"/>
<output wsam:Action="http://pack1/Calculo/sumResponse" message="tns:sumResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://pack1/Calculo/helloRequest" message="tns:hello"/>
<output wsam:Action="http://pack1/Calculo/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="divE">
<input wsam:Action="http://pack1/Calculo/divERequest" message="tns:divE"/>
<output wsam:Action="http://pack1/Calculo/divEResponse" message="tns:divEResponse"/>
</operation>
<operation name="fact">
<input wsam:Action="http://pack1/Calculo/factRequest" message="tns:fact"/>
<output wsam:Action="http://pack1/Calculo/factResponse" message="tns:factResponse"/>
</operation>
<operation name="product">
<input wsam:Action="http://pack1/Calculo/productRequest" message="tns:product"/>
<output wsam:Action="http://pack1/Calculo/productResponse" message="tns:productResponse"/>
</operation>
<operation name="divD">
<input wsam:Action="http://pack1/Calculo/divDRequest" message="tns:divD"/>
<output wsam:Action="http://pack1/Calculo/divDResponse" message="tns:divDResponse"/>
</operation>
<operation name="minus">
<input wsam:Action="http://pack1/Calculo/minusRequest" message="tns:minus"/>
<output wsam:Action="http://pack1/Calculo/minusResponse" message="tns:minusResponse"/>
</operation>
</portType>
<binding name="CalculoPortBinding" type="tns:Calculo">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="divE">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fact">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="product">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="divD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="minus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Calculo">
<port name="CalculoPort" binding="tns:CalculoPortBinding">
<soap:address location="http://localhost:8080/Calculo/Calculo"/>
</port>
</service>
</definitions>